<div class="ticker-item">
  <p class="text-start primary-text" style="font-size: 0.8rem; margin: 0; line-height: 1.2;">
    <%= position %> to <%= position %>
  </p>
  <p class="text-start secondary-text" style="margin: 2px 0 0; padding: 0;">
    <span class="badge rounded-pill bg-light" style="font-size: 0.6rem; padding: 3px 8px;">50K Comp Inc</span>
  </p>
</div>

<!--Use color when the comp increase is over 50k-->
<!--  background-color: #FDF583 !important;-->
