<div class="modal fade" id="graduateSchoolFilterModal" tabindex="-1" aria-labelledby="graduateSchoolFilterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="graduateSchoolFilterLabel">Filter by Graduate School</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q, url: employee_view_path(@employee_view), method: :get, html: { class: 'filter-form' } do |f| %>
          <div class="mb-3">
            <%= f.label :graduate_school_id_eq, "Select Graduate School", class: 'form-label' %>
            <%= f.collection_select :graduate_school_id_eq, School.joins("INNER JOIN employees ON employees.graduate_school_id = schools.id").where(employees: { id: @employee_view.employee_ids }).distinct, :id, :name, { prompt: 'All Graduate Schools' }, { class: 'form-select' } %>
          </div>
          <div class="text-end">
            <%= f.submit 'Apply Filter', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
