<div class="modal fade" id="createProfileModal" tabindex="-1" aria-labelledby="createProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createProfileModalLabel">Create or Update Mock Interview Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
              <!-- Informational Message -->
        <div class="alert alert-info" role="alert">
          This profile is specifically for mock interviews and career coaching. Your TopBucket profile used for forums, recapping interactions, tier list ratings, etc... will remain anonymous to other users, as per your preferences.
        </div>
        
        <!-- Render the form partial -->
        <%= render 'mock_interview_profiles/form', mock_interview_profile: @mock_interview_profile %>
      </div>
    </div>
  </div>
</div>
