<!-- Add Your Meeting And Availability Buttons -->
<div class="row align-items-center mb-3">
  <div class="col-auto ms-auto">
    <%= link_to "Your Meetings", mock_interviews_path, class: "btn btn-outline-dark" %>

    <!-- Availability Button -->
    <% if user_signed_in? %>
      <% if current_user.mock_interview_profile.present? %>
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addAvailabilityModal">Add Availability</button>
      <% else %>
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createProfileModal">Add Availability</button>
      <% end %>
    <% else %>
      <button class="btn btn-dark" data-bs-toggle="tooltip" title="You must sign in">Add Availability</button>
    <% end %>
  </div>
</div>

<!-- Render Add Availability Modal Partial -->
<%= render 'filters' %>


<!-- Render Add Availability Modal Partial -->
<%= render 'mock_interviews/add_availability_modal' %>
