<%= render 'tier_lists/tier_list_body' %>

<div class="container mt-4">
  <div class="row">
    <!-- Left: Ranking Section -->
    <div class="col-md-6">
      <%= render 'item_ranking' %>
    </div>

    <!-- Right: All Items Section -->
    <div class="col-md-6">
      <%= render 'all_items' %>
    </div>
  </div>
</div>
