<%
=begin%>
 <div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="linkModalLabel">Link Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>From:</strong> <span id="modal-link-from"></span></p>
        <p><strong>To:</strong> <span id="modal-link-to"></span></p>
        <p><strong>Industry:</strong> <span id="modal-link-industry"></span></p>
        <p><strong>Average Salary:</strong> $<span id="modal-link-avg-salary"></span></p>
        <p><strong>Average Bonus:</strong> $<span id="modal-link-avg-bonus"></span></p>
        <p><strong>Average Total Compensation:</strong> $<span id="modal-link-avg-total-comp"></span></p>
        <p><strong>Average Compensation per Hour:</strong> $<span id="modal-link-avg-comp-per-hour"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<%
=end%>
