<body class="bg-light">
  <div class="container-fluid py-4">
    <div class="row">
      <!-- Left Column -->
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card mb-4 ms-3" style="height: 375px; background-color: #FCFCFC;">
          <div class="card-body text-center">
            <div class="d-flex justify-content-between">
              <h5 class="text-start m-2">Top Bucket</h5>
              <p class="text-end m-2" style="font-size: 0.8rem;">View all</p>
            </div>
            <%= render 'site/ratings_home/rating_card'%>
          </div>
        </div>
        <div class="card mb-4 ms-3 shadow-sm" style="height: 375px;">
          <div class="card-body text-center">
            <h5>Bottom Bucket</h5>
          </div>
        </div>
      </div>

      <!-- Middle Column -->
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="row">
          <!-- Top Cards -->
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm" style="height: 150px;">
              <div class="card-body text-center">
                <h5>Card 1</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm" style="height: 150px;">
              <div class="card-body text-center">
                <h5>Card 2</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- Wide Card -->
        <div class="card mb-4 shadow-sm" style="height: 200px;">
          <div class="card-body text-center">
            <h5>Wide Card</h5>
          </div>
        </div>
        <!-- Large Card -->
        <div class="card shadow-sm" style="height: 300px;">
          <div class="card-body text-center">
            <h5>Large Card</h5>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card mb-4 me-3 shadow-sm" style="height: 150px;">
          <div class="card-body text-center">
            <h5>Top Card</h5>
          </div>
        </div>
        <div class="card mb-4 me-3 shadow-sm" style="height: 200px;">
          <div class="card-body text-center">
            <h5>Middle Card</h5>
          </div>
        </div>
        <div class="card me-3 shadow-sm" style="height: 250px;">
          <div class="card-body text-center">
            <h5>Bottom Card</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div style="background-color: #000; color: #fff; text-align: center; padding: 10px 0; position: fixed; bottom: 0; left: 0; right: 0; z-index: 1000;">
    Career
  </div>
</body>
